<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/urls">Urls</a></li>
            <li><a href="/urls/new">Create New</a></li>
        </ul>
    </div>
</div>

<div style="display: flex; justify-content: space-between;">
    <% if(!username) { %>
        <div style="display: flex;">
            <form method="POST" action="/login" style="display: flex;">
                <input type="text" name="username" placeholder="username">
                <input type="submit" name="submitButton" value="Login">
            </form>
        </div>
    <% } else {%>
        <div class="nav navbar-nav" style="display: flex;">
            <p class="nav navbar-nav"><strong>User: </strong><%= username %> </p>
            <form method="POST" action="/logout" style="display: flex;">
                <input type="submit" name="submitButton" value="Logout">
            </form>
        </div>
    <% } %>
</div>
</nav>
